.clients {
  padding-top: 200px;
  padding-bottom: 117px;
  background-color: var(--light-color);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }

  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}
