.contacts-section {
  padding: 80px 0;
  background-image: url("../img/contacts-section-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gray-700-color);

  &__form {
    background-color: var(--light-color);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--gray-300-gray);
  border-radius: 4px;
  padding: 48px 40px;
  max-width: 495px;
  box-shadow: var(--main-shadow);

  &__title {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-900-color);

    @include mobile {
      font-size: 20px;
    }
  }

  &__label {
    margin-bottom: 21px;
  }

  &__checkbox {
    margin-bottom: 22px;
  }

  &__btn {
    padding: 12px 31px;
    font-size: 14px;
  }

  @include mobile {
    padding: 32px 15px;
  }
}
