.contacts-section {
  padding: 80px 0;
  background-image: url("../img/contacts-section-bg.jpg");
  background-color: var(--gray-700-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__form {
    background-color: var(--light-color);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 495px;
  padding: 48px 40px;
  border: 1px solid var(--gray-300-gray);
  box-shadow:
    0 60px 80px -20px rgba(30, 33, 44, 0.16),
    0 26px 24px -10px rgba(30, 33, 44, 0.1),
    0 12px 10px -6px rgba(30, 33, 44, 0.08),
    0 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;

  &__title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 24px;
    color: var(--gray-900-color);
  }

  &__label {
    margin-bottom: 21px;
  }

  &__checkbox {
    margin-bottom: 22px;
  }

  &__btn {
    padding: 12px 31px;
    font-size: 14px;

  }

}
