.facts {
  position: relative;
  overflow: hidden;
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: var(--light-color);

  &::before {
    content: "";
    position: absolute;
    left: -9px;
    top: -195px;
    width: 570px;
    height: 1065px;
    background-image: url("../img/facts-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 736px;
    gap: 48px;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    margin-bottom: 62px;
  }

  @include mobile {
    padding: 40px 0;
  }
}

.facts-element {
  &__circle {
    position: relative;
    margin-bottom: 20px;
    width: 149px;
    height: 149px;

    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .progress {
      transform: rotate(-90deg) translateX(20px);
      transform-origin: center;
    }

    &--clients {
      .progress {
        stroke: var(--warning-color);
      }

      .progress-bg {
        stroke: rgba($color: #f89828, $alpha: 30%);
      }
    }

    &--years {
      .progress {
        stroke: #f52f6e;
      }

      .progress-bg {
        stroke: rgba($color: #f52f6e, $alpha: 30%);
      }
    }

    &--hours {
      .progress {
        stroke: var(--info-color);
      }

      .progress-bg {
        stroke: rgba($color: #5a87fc, $alpha: 30%);
      }
    }

    &--projects {
      .progress {
        stroke: var(--success-color);
      }

      .progress-bg {
        stroke: rgba($color: #03cea4, $alpha: 30%);
      }
    }
  }

  &__value {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: var(--gray-900-color);
    transform: translate(-50%, -50%);
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-900-color);
  }

  @include small-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
