.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  color: rgba($color: #fff, $alpha: 60%);
  background-color: var(--gray-900-color);

  &__left {
    grid-column: span 7;
  }

  &__top {
    @include flex-v-center;

    margin-bottom: 22px;
  }

  &__logo {
    margin-right: 60px;
  }

  &__descr {
    margin: 0;
    width: 100%;
    max-width: 490px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  &__form {
    grid-column: span 5;
  }

  &__address {
    grid-column: span 4;
  }

  &__nav {
    grid-column: span 8;
  }

  &__copy {
    grid-column: span 12;
    padding-top: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--light-color);

    span {
      padding-left: 23px;
      background-image: url("../img/heart.svg");
      background-position: 2px center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--light-color);
  }
}

.footer-form {
  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--light-color);
  }

  &__items {
    @include flex-v-center;

    margin-bottom: 15px;
  }

  .form-label {
    margin: 0;
    width: 364px;
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 24px;
    font-size: 14px;
  }

  &__input {
    border: 1px solid rgb(255 255 255 / 20%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    color: var(--light-color);
    background-color: rgb(255 255 255 / 12%);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--gray-800-color);
    }

    &:active {
      background-color: var(--gray-800-color);
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }
}

.footer-address {
  padding-top: 20px;
  font-style: normal;

  &__item {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__name {
    color: var(--light-color);
  }

  &__link {
    color: currentcolor;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--gray-400-color);
    }

    &:active {
      color: var(--gray-400-color);
    }
  }
}

.footer-nav {
  display: flex;
  padding-top: 20px;
  padding-left: 54px;

  &__col {
    &:not(:last-child) {
      margin-right: 125px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: currentcolor;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--gray-400-color);
    }

    &:active {
      color: var(--gray-400-color);
    }
  }
}
