.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__caption {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-800-color);
  }

  &__input {
    border: 1px solid var(--gray-400-color);
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 15px;
    width: 260px;
    height: 44px;
    font-size: 14px;
    color: var(--gray-800-color);
    background: var(--gray-200-color);

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--gray-600-color);
    }

    &--large {
      width: 100%;
    }

    &--big {
      padding-top: 10px;
      height: 66px;
      resize: none;
    }
  }

  &--contacts {
    width: 100%;

    .form-label__input {
      width: 100%;
    }
  }

  &--large {
    flex-grow: 1;
  }
}
