.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__caption {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-800-color);
  }

  &__input {
    border: 1px solid var(--gray-400-color);
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 15px;
    width: 260px;
    height: 44px;
    font-size: 14px;
    color: var(--gray-800-color);
    background: var(--gray-200-color);
    transition: background-color 0.3s ease-in-out;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--gray-600-color);
    }

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--gray-100-color);
    }

    &:active {
      background-color: var(--gray-100-color);
    }

    &--large {
      width: 100%;
    }

    &--big {
      padding-top: 10px;
      height: 66px;
      resize: none;
    }
  }

  &--contacts {
    width: 100%;

    .form-label__input {
      width: 100%;
    }
  }

  &--large {
    flex-grow: 1;
  }
}

.choices__list--single {
  transition: background-color 0.3s ease-in-out;

  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--gray-100-color);
  }

  &:active {
    background-color: var(--gray-100-color);
  }
}
