.page-hero {
  background-color: var(--gray-200-color);
  background-repeat: no-repeat;
  padding-top: 152px;
  min-height: 600px;
  background-position: right -8px center;
  padding-bottom: 80px;

  &__breadcrumbs {
    margin-bottom: 41px;
  }

  &__title {
    margin: 0;
    max-width: 610px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--gray-900-color);
    margin-bottom: 24px;
  }

  &__descr {
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-700-color);
    max-width: 610px;
  }

  &--services {
    background-image: url("../img/services-hero.png");
  }

  &--service {
    background-image: url("../img/service-hero.png");
  }
}
