/* stylelint-disable declaration-no-important */

.hero {
  &__content {
    max-width: 590px;
  }

  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 20px;

        @include mobile {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      @include mobile {
        padding: 15px 20px;
        font-size: 14px;
      }
    }
  }

  .swiper-pagination-bullet-active {
    &::before {
      color: var(--light-color) !important;
    }

    .hero__bar {
      &::after {
        transform: scaleX(1);
        transition: transform var(--hero-slider-speed) ease-in-out;
      }
    }
  }

  &__pagination {
    counter-reset: pagination;
    left: calc((100% - var(--container-width)) / 2) !important;
    bottom: 120px !important;
    display: flex;

    .swiper-pagination-bullet {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      width: 178px;
      height: auto;
      text-align: left;
      background-color: transparent;
      opacity: 1;

      &::before {
        counter-increment: pagination;
        content: "0" counter(pagination);
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: rgba($color: #fff, $alpha: 30%);
        transition: color 0.3s ease-in-out;
      }

      &::after {
        display: none;
      }

      @include small-tablet {
        width: 120px;
      }
    }

    @include mid-desk {
      left: 1% !important;
      padding-left: 10px;
    }

    @include mini-desk {
      left: 0 !important;
    }

    @include small-tablet {
      bottom: 60px !important;
    }
  }

  &__prev {
    position: absolute;
    left: 32px;
    top: 50%;
    z-index: 10;
    background-color: var(--light-color);
    transform: translateY(-50%);

    @include mid-desk {
      display: none;
    }
  }

  &__next {
    position: absolute;
    right: 32px;
    top: 50%;
    z-index: 10;
    background-color: var(--light-color);
    transform: translateY(-50%);

    @include mid-desk {
      display: none;
    }
  }

  &__bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2px;
    background-color: rgba($color: #fff, $alpha: 30%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 100px;
      width: 100%;
      height: 100%;
      background-color: var(--light-color);
      transform: scaleX(0);
      transform-origin: left;
    }
  }
}

.hero-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero-slide {
  padding-top: 220px;
  padding-bottom: 355px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gray-700-color);

  @include small-tablet {
    padding-top: 180px;
    padding-bottom: 255px;
  }

  @include mobile {
    padding-top: 80px;
    padding-bottom: 180px;
  }
}
