.page-hero {
  background-color: var(--gray-200-color);
  background-repeat: no-repeat;
  padding-top: 152px;
  min-height: 600px;
  background-position: right -8px center;
  padding-bottom: 80px;

  &__breadcrumbs {
    margin-bottom: 41px;
  }

  &__title {
    margin: 0;
    max-width: 610px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--gray-900-color);
    margin-bottom: 24px;

    &--small {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 60px;
    }

    ;
  }

  &__descr {
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-700-color);
    max-width: 610px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__meta {
    font-size: 16px;
    line-height: 160%;

    .article-meta__item {

      &:first-child {
        color: var(--primary-color);
        font-weight: 700;

        &::after {
          background-color: var(--gray-700-color);
        }
      }
    }

    .article-meta__item:not(:last-child)::after {
      height: 16px;
      right: -14px;
      top: 2px;
    }
  }

  &__social {
    svg {
      fill: var(--gray-700-color);
    }
  }

  &--services {
    background-image: url("../img/services-hero.png");
  }

  &--service {
    background-image: url("../img/service-hero.png");
  }

  &--work {
    background-image: url("../img/work-hero.png");
    background-position: right -1px center;
  }

  &--cottage {
    background-color: var(--light-color);
    background-image: url("../img/hero-cottage.png");
    background-position: right -8px top 48px;
  }

  &--about {
    background-image: url("../img/about-hero-img.png"), url("../img/about-hero.png");
  }

  &--positions {
    background-image: url("../img/positions-hero.png");
    background-position: right -9px bottom;
  }

  &--news {
    background-image: url("../img/news-hero.png");

  }


  &--post {
    .page-hero__title {
      font-size: 64px;
      line-height: 120%;
      max-width: none;
      text-transform: initial;
      margin-bottom: 48px;
    }
  }


}
