.mission {
  background-color: var(--light-color);

  &__list {
    --mission-gap: 94px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 27px;
    gap: calc(var(--mission-gap) * 2);

    @include mini-desk {
      --mission-gap: 30px;
    }

    @include small-tablet {
      --mission-gap: 14px;

      margin-bottom: 0;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;
    padding-top: 71px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 2px;
        height: 188px;
        background-image: url("../img/divider.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &--quality {
      background-image: url("../img/quality.svg");
    }

    &--safety {
      background-image: url("../img/safety.svg");
    }

    &--comfort {
      background-image: url("../img/comfort.svg");
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-900-color);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-700-color);

    @include small-tablet {
      font-size: 14px;
    }
  }

  &--secondary {
    padding-bottom: 80px;
    background-color: var(--gray-200-color);
  }
}

.know-form {
  position: relative;
  top: 92px;
  border-radius: 4px;
  padding: 48px 60px;
  box-shadow: var(--main-shadow);
  background: var(--light-color);

  &__title {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-900-color);

    @include small-tablet {
      font-size: 22px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;

    @include tablet {
      flex-wrap: wrap;
      justify-content: space-between;

      .form-label__input {
        width: 100%;
      }

      &>* {
        flex-grow: initial;
        margin-right: 0 !important;
        margin-bottom: 20px;
        width: 49%;
      }
    }

    @include mobile {
      flex-direction: column;

      &>* {
        width: 100%;
      }
    }
  }

  &__label {
    margin-right: 24px;
  }

  &__btn {
    padding: 11px 29px;
  }

  @include mobile {
    padding: 10px;
  }
}
