.nav {
  &__list {
    @include flex-v-center;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 41px;

      @include tablet {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
  }

  &__link {
    font-weight: 700;
    line-height: 160%;
    color: var(--gray-800-color);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--active-color);
    }

    &--current {
      color: var(--primary-color);
    }

    @include tablet {
      font-size: 20px;
    }
  }
}
