.pricing {
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
  background-color: var(--gray-200-color);

  &__decorate {
    position: absolute;
    left: -8px;
    top: 0;
    object-fit: cover;
  }
}

.table-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid var(--gray-300-color);
  background-color: var(--light-color);
  width: 100%;
  box-shadow: var(--main-shadow);
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__heading {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--gray-900-color);
    text-transform: uppercase;
  }

  &__per {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-700-color);

  }

  &__th {
    padding: 31px 0;
    padding-top: 31px;
    padding-bottom: 24px;
    padding-right: 13px;

    &:first-child {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      vertical-align: bottom;
      color: var(--gray-900-color);
      padding-left: 24px;
      text-align: left;
    }
  }

  &__col {
    padding: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-800-color);
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;

    &:first-child {
      padding-left: 24px;
      text-align: left;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-800-color);
  }

  &__check {
    vertical-align: middle;
    font-size: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../img/table-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__body {
    .table__row {
      &:nth-child(odd) {
        background-color: var(--gray-200-color);
      }
    }
  }

  &__row {
    &:last-child {
      .table__col {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }

  &__btn {
    font-size: 12px;
    padding: 7px 23px;
    letter-spacing: 0.5px;
  }
}
