.recent-news {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--light-color);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;
  }

  &__item {
    grid-column: 3 span;

    &:first-child {
      grid-column: span 7;
      grid-row: 2 span;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 5;
    }
  }
}
