.recent-news {
  background-color: var(--light-color);
  padding-top: 80px;
  padding-bottom: 120px;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;
  }

  &__item {
    grid-column: 3 span;

    &:first-child {
      grid-column: span 7;
      grid-row: 2 span;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 5;
    }
  }
}

.recent-article {
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  background-color: var(--light-color);

  &--small {
    .recent-article__descr {
      display: none;
    }

    .recent-article__text {
      padding: 12px 24px;
    }

    .recent-article__title {
      margin-bottom: 9px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-800-color);
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-900-color);
  }

  &__text {
    padding: 20px 24px;
  }
}

.article-meta {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-700-color);
  margin-bottom: 16px;

  &__item {
    color: inherit;
    position: relative;

    &:not(:last-child) {
      margin-right: 21px;

      &::after {
        position: absolute;
        content: "";
        right: -13px;
        top: 3px;
        width: 1px;
        height: 11px;
        background-color: currentColor;
      }
    }

    &--comments {
      padding-left: 24px;
      background-image: url('../img/comments.svg');
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;

    }
  }

}
