.service-benefits {
  padding-top: 80px;
  padding-bottom: 62px;
  background-color: var(--gray-900-color);

  &__title {
    color: var(--light-color);
  }

  &__main-descr {
    color: rgba($color: #fff, $alpha: 60%);
  }

  &__list {
    --mission-gap: 94px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 27px;
    gap: calc(var(--mission-gap) * 2);

    @include mini-desk {
      --mission-gap: 30px;
    }

    @include small-tablet {
      --mission-gap: 14px;

      margin-bottom: 0;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;
    margin-bottom: 71px;
    padding-top: 71px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 2px;
        height: 188px;
        background-image: url("../img/divider-dark.svg");
        background-position: center;
        background-repeat: no-repeat;

        @include mobile {
          display: none;
        }
      }
    }

    &--terms {
      background-image: url("../img/terms.svg");
    }

    &--workers {
      background-image: url("../img/workers.svg");
    }

    &--control {
      background-image: url("../img/control.svg");
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--light-color);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba($color: #fff, $alpha: 60%);

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__centered {
    margin-bottom: -84px;
  }

  &__btn {
    width: 390px;
    transform: translateY(4px);

    @include small-tablet {
      width: 100%;
      max-width: 390px;
    }
  }
}
