.services-section {
  padding-top: 212px;
  background-color: var(--gray-200-color);
  background-image: url("../img/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
