.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-color: var(--gray-200-color);
  background-image: url("../img/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__list {
    margin-bottom: 80px;
  }
}

.services-list {
  &__item {
    grid-column: 3 span;
  }
}

.services-item {

  display: block;
  padding: 0 10px;
  padding-top: 87px;
  padding-bottom: 90px;
  position: relative;
  background: var(--light-color);
  border: 1px solid var(--gray-300-color);
  box-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-image: url("../img/services-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba($color: #1E212C, $alpha: 0.6);
    border-radius: inherit;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &:hover {

    &::after,
    &::before {
      opacity: 1;
    }

    .services-item__title {
      color: var(--light-color);
    }

    .services-item__icon {
      fill: var(--light-color);
    }
  }

  &--construct {
    &:before {
      background-image: url("../img/services-bg.jpg");
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;

  }

  &__icon {
    fill: var(--primary-color);
    width: 52px;
    height: 52px;
    object-fit: cover;
    margin-bottom: 23px;
    transition: fill .2s;

  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-900-color);
    transition: color .2s;
  }

}
