.slider-nav {
  @include flex-v-center;
  user-select: none;
  position: relative;
  z-index: 15;

  &__btn {
    @include flex-all-center;
    width: 48px;
    height: 48px;
    color: var(--gray-800-color);
    transition: background-color .3s ease-in-out, color .2s ease-in-out;
    border-radius: 100%;

    svg {
      width: 24px;
      height: 24px;
      display: block;
      object-fit: cover;
      color: inherit;
      fill: currentColor;
      transition: fill .3s ease-in-out;
    }

    &:hover {
      background-color: var(--primary-color);
      color: var(--light-color);
    }
  }
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
