.testimonials {
  padding-top: 97px;
  margin-bottom: -30px;
  background-color: var(--gray-200-color);

  &__container {
    display: flex;
    justify-content: space-between;
  }


  &__img {
    margin-bottom: -50px;
    position: relative;
    z-index: 5;
  }

  &__content {
    max-width: 612px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    padding-bottom: 12px;
    position: relative;
  }

  &__slider-nav {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


.testimonials-item {
  &__img {
    overflow: hidden;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin-bottom: 25px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-800-color);
    margin-bottom: 25px;
  }

  &__author {
    display: block;
    font-weight: 700;
    padding-right: 110px;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-900-color);
    margin-bottom: 4px;
  }

  &__author-position {
    display: block;
    padding-right: 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-700-color);

  }
}
