.work-slider {
  overflow: hidden;

  &__items {
    .swiper-slide {
      transition: opacity 0.3 ease-in-out;

      img {
        display: block;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--big {
      margin-bottom: 20px;
    }

    &--small {
      .swiper-slide {
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;
      }

      .swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }

  &__prev {
    position: absolute;
    left: 32px;
    top: 230px;
    z-index: 100;
    background-color: rgba($color: #fff, $alpha: 50%);
  }

  &__next {
    position: absolute;
    right: 32px;
    top: 230px;
    z-index: 100;
    background-color: rgba($color: #fff, $alpha: 50%);
  }
}
