.worldwide {
  padding-top: 80px;
  padding-bottom: 117px;
  background-color: var(--gray-200-color);

  &__title {
    margin-bottom: 60px;
  }

  @include mini-desk {
    display: none;
  }
}

.worldwide-map {
  width: 100%;
  height: 563px;

  svg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    fill: var(--gray-500-color);
  }
}
