<section class="clients">
  <div class="container">
    <h2 class="clients__title title title--center">
      Our clients
    </h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img class="clients__logo" src="img/partners/partners-1.png" alt="Partner logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img class="clients__logo" src="img/partners/partners-2.png" alt="Partner logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img class="clients__logo" src="img/partners/partners-3.png" alt="Partner logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img class="clients__logo" src="img/partners/partners-4.png" alt="Partner logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img class="clients__logo" src="img/partners/partners-5.png" alt="Partner logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img class="clients__logo" src="img/partners/partners-6.png" alt="Partner logo">
        </a>
      </li>
    </ul>
  </div>
</section>
