<section class="contacts-section">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container contacts-section__container">
    <form class="contacts-section__form contacts-form">
      <h3 class="contacts-form__title">
        A quick way to discuss details
      </h3>
      <label class="form-label form-label--contacts contacts-form__label">
        <span class="form-label__caption">Name*</span>
        <input type="text" class="form-label__input" name="name" placeholder="Your name">
      </label>
      <label class="form-label form-label--contacts contacts-form__label">
        <span class="form-label__caption">Phone*</span>
        <input type="tel" class="form-label__input" name="phone" placeholder="Your phone number">
      </label>
      <label class="form-label form-label--contacts contacts-form__label">
        <span class="form-label__caption">Email</span>
        <input type="email" class="form-label__input" name="email" placeholder="Your working email">
      </label>
      <label class="form-label form-label--contacts contacts-form__label">
        <span class="form-label__caption">Message*</span>
        <textarea type="text" class="form-label__input form-label__input--big" name="message"
          placeholder="Your message"></textarea>
      </label>
      <label class="custom-checkbox contacts-form__checkbox">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">I agree to receive communications from Createx
          Construction Bureau.</span>
      </label>
      <div class="centered">
        <button class="contacts-form__btn btn btn--fill">
          Send request
        </button>
      </div>
    </form>
  </div>
</section>
