<section class="employee section-offset">
  <div class="container">
    <h2 class="title title--center title--margin">
      Employee benefits
    </h2>
    <p class="descr descr--center">
      There’s always room for talent.
    </p>
    <ul class="list-reset employee__list">
      <li class="employee__item employee__item--training">
        <h3 class="employee__subtitle">
          Training
        </h3>
        <p class="employee__descr">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip
          sunt.
        </p>
      </li>
      <li class="employee__item employee__item--growth">
        <h3 class="employee__subtitle">
          Professional Growth
        </h3>
        <p class="employee__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim
          empor est ea.
        </p>
      </li>
      <li class="employee__item employee__item--salary">
        <h3 class="employee__subtitle">
          Growing Salary
        </h3>
        <p class="employee__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco
          proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>
