<section class="page-hero page-hero--cottage">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Homepage
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Work
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Modern Cottage
        </a>
      </li>
    </ul>
    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">
      Modern Cottage
    </h1>
    <div class="work-slider">
      <div class="swiper work-slider__items--big work-slider__items">
        <div class="slider-nav work-slider__slider-nav">
          <button
            class="btn-reset slider-nav__btn slider-btn work-slider__prev swiper-button-disabled"
            disabled="">
            <svg>
              <use xlink:href="img/sprite.svg#prev"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn slider-btn work-slider__next">
            <svg>
              <use xlink:href="img/sprite.svg#next"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Portfolio work 1">
          </div>
        </div>
      </div>
      <div class="swiper work-slider__items work-slider__items--small" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work/thumb-1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/thumb-1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/thumb-1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/thumb-1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/thumb-1.jpg" alt="Portfolio work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/thumb-1.jpg" alt="Portfolio work 1">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
