<section class="partners partners--large">
  <div class="container">
    <h2 class="partners__title title title--center">
      Our partners
    </h2>
    <p class="descr descr--center partners__descr">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-6.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-7.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-8.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-9.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-10.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-11.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-12.png" alt="Partner logo">
        </a>
      </li>
    </ul>
  </div>
</section>
