<section class="partners">
  <div class="container">
    <h2 class="partners__title title title--center">
      Supported by 12+ partners
    </h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="Partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img class="partners__logo" src="img/partners/partners-6.png" alt="Partner logo">
        </a>
      </li>
    </ul>
  </div>
</section>
