<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <div class="tabs portfolio-tabs" data-tabs="portfolio">
      <ul class="tabs__nav portfolio-tabs__nav list-reset">
        <li class="portfolio-tabs__item tabs__nav-item">
          <button class="btn-reset portfolio-tabs__btn tabs__nav-btn" type="button">
            <svg class="portfolio-tabs__nav-icon">
              <use xlink:href="img/sprite.svg#all"></use>
            </svg>
            <span class="portfolio-tabs__nav-text">All Projects</span>
          </button>
        </li>
        <li class="portfolio-tabs__item tabs__nav-item">
          <button class="btn-reset portfolio-tabs__btn tabs__nav-btn" type="button">
            <svg class="portfolio-tabs__nav-icon">
              <use xlink:href="img/sprite.svg#services-1"></use>
            </svg>
            <span class="portfolio-tabs__nav-text">Construction</span>
          </button>
        </li>
        <li class="portfolio-tabs__item tabs__nav-item">
          <button class="btn-reset portfolio-tabs__btn tabs__nav-btn" type="button">
            <svg class="portfolio-tabs__nav-icon">
              <use xlink:href="img/sprite.svg#services-2"></use>
            </svg>
            <span class="portfolio-tabs__nav-text">Project Development</span>
          </button>
        </li>
        <li class="portfolio-tabs__item tabs__nav-item">
          <button class="btn-reset portfolio-tabs__btn tabs__nav-btn" type="button">
            <svg class="portfolio-tabs__nav-icon">
              <use xlink:href="img/sprite.svg#services-3"></use>
            </svg>
            <span class="portfolio-tabs__nav-text">Interior Design</span>
          </button>
        </li>
        <li class="portfolio-tabs__item tabs__nav-item">
          <button class="btn-reset portfolio-tabs__btn tabs__nav-btn" type="button">
            <svg class="portfolio-tabs__nav-icon">
              <use xlink:href="img/sprite.svg#services-4"></use>
            </svg>
            <span class="portfolio-tabs__nav-text">Repairs</span>
          </button>
        </li>
      </ul>
      <div class="tabs__content portfolio-tabs__content">
        <div class="tabs__panel portfolio-tabs__panel">
          <div class="portfolio-tabs__wrapper grid">
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-1.avif" type="image/avif">
                <source srcset="img/recent-project-1.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-1.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
                </h3>
                <span class="portfolio-item__descr">
                  Apartments & flats
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-2.avif" type="image/avif">
                <source srcset="img/recent-project-2.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-2.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Modern Double Bedroom
                </h3>
                <span class="portfolio-item__descr">
                  Apartments & flats
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-3.avif" type="image/avif">
                <source srcset="img/recent-project-3.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Scandinavian Style Interior
                </h3>
                <span class="portfolio-item__descr">
                  Private houses
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-1.avif" type="image/avif">
                <source srcset="img/portfolio-card-1.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-1.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Red Finger Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel portfolio-tabs__panel">
          <div class="portfolio-tabs__wrapper grid">
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel portfolio-tabs__panel">
          <div class="portfolio-tabs__wrapper grid">
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-1.avif" type="image/avif">
                <source srcset="img/recent-project-1.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-1.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
                </h3>
                <span class="portfolio-item__descr">
                  Apartments & flats
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-2.avif" type="image/avif">
                <source srcset="img/recent-project-2.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-2.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Modern Double Bedroom
                </h3>
                <span class="portfolio-item__descr">
                  Apartments & flats
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-3.avif" type="image/avif">
                <source srcset="img/recent-project-3.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Scandinavian Style Interior
                </h3>
                <span class="portfolio-item__descr">
                  Private houses
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-1.avif" type="image/avif">
                <source srcset="img/portfolio-card-1.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-1.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Red Finger Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel portfolio-tabs__panel">
          <div class="portfolio-tabs__wrapper grid">
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-1.avif" type="image/avif">
                <source srcset="img/recent-project-1.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-1.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Kids Bedroom With Decorations
                </h3>
                <span class="portfolio-item__descr">
                  Apartments & flats
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/recent-project-2.avif" type="image/avif">
                <source srcset="img/recent-project-2.webp" type="image/webp">
                <img loading="lazy" src="img/recent-project-2.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  Modern Double Bedroom
                </h3>
                <span class="portfolio-item__descr">
                  Apartments & flats
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel portfolio-tabs__panel">
          <div class="portfolio-tabs__wrapper grid">
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
            <a href="#" class="portfolio-item">
              <picture>
                <source srcset="img/portfolio-card-3.avif" type="image/avif">
                <source srcset="img/portfolio-card-3.webp" type="image/webp">
                <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                  width="" height="" alt="Portfolio cover">
              </picture>
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">
                  The Pencil Building
                </h3>
                <span class="portfolio-item__descr">
                  Business Centers
                </span>
                <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="centered">
      <button class="btn-reset portfolio-more">
        <svg>
          <use xlink:href="img/sprite.svg#circled"></use>
        </svg>
        Load more
      </button>
    </div>
  </div>
</section>
