<section class="portfolio-section section-offset">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">
        Browse our selected projects
        and learn more about our work
      </h2>
      <div class="slider-nav portfolio-section__slider-nav">
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__prev">
          <svg>
            <use xlink:href="img/sprite.svg#prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__next">
          <svg>
            <use xlink:href="img/sprite.svg#next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper portfolio-section__items swiper--no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/portfolio-card-1.avif" type="image/avif">
              <source srcset="img/portfolio-card-1.webp" type="image/webp">
              <img loading="lazy" src="img/portfolio-card-1.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Red Finger Building
              </h3>
              <span class="portfolio-item__descr">
                Business Centers
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/portfolio-card-1.avif" type="image/avif">
              <source srcset="img/portfolio-card-1.webp" type="image/webp">
              <img loading="lazy" src="img/portfolio-card-1.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Cubes Building
              </h3>
              <span class="portfolio-item__descr">
                Business Centers
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/portfolio-card-3.avif" type="image/avif">
              <source srcset="img/portfolio-card-3.webp" type="image/webp">
              <img loading="lazy" src="img/portfolio-card-3.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                The Pencil Building
              </h3>
              <span class="portfolio-item__descr">
                Business Centers
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/portfolio-card-1.avif" type="image/avif">
              <source srcset="img/portfolio-card-1.webp" type="image/webp">
              <img loading="lazy" src="img/portfolio-card-1.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Red Finger Building
              </h3>
              <span class="portfolio-item__descr">
                Business Centers
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-section__learn additional">
      <h4 class=" portfolio-section__subtitle additional__subtitle">
        Explore all our works
      </h4>
      <a class="btn btn--fill additional__btn">
        View portfolio
      </a>
    </div>
  </div>
</section>
