<form class="post-form">
  <h2 class="title title--center post-form__title">
    Leave your comment
  </h2>
  <div class="post-form__content">
    <label class="form-label  post-form__label">
      <span class="form-label__caption">Name*</span>
      <input type="text" class="form-label__input" name="name" placeholder="Your name" required>
    </label>
    <label class="form-label post-form__label">
      <span class="form-label__caption">Email*</span>
      <input type="email" class="form-label__input" name="email" placeholder="Your working email"
        required>
    </label>
    <label class="form-label  post-form__label post-form__label--big">
      <span class="form-label__caption">Your comment*</span>
      <textarea type="text" class="form-label__input form-label__input--big" name=" message"
        placeholder="Type comment here" required></textarea>
    </label>
    <div class="centered">
      <button type="submit" class="btn btn--fill post-form__btn">Post comment</button>
    </div>
  </div>
</form>
