<section class="service-benefits section-offset">
  <div class="container">
    <h2 class="title title--center title--margin service-benefits__title">
      Our benefits
    </h2>
    <p class="descr descr--center service-benefits__main-descr">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <ul class="list-reset service-benefits__list">
      <li class="service-benefits__item service-benefits__item--terms">
        <h3 class="service-benefits__subtitle">
          Fixed Terms & Cost
        </h3>
        <p class="service-benefits__descr">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip
          sunt.
        </p>
      </li>
      <li class="service-benefits__item service-benefits__item--workers">
        <h3 class="service-benefits__subtitle">
          Qualified Workers
        </h3>
        <p class="service-benefits__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim
          empor est ea.
        </p>
      </li>
      <li class="service-benefits__item service-benefits__item--control">
        <h3 class="service-benefits__subtitle">
          Supervision & Control
        </h3>
        <p class="service-benefits__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco
          proident ea ad.
        </p>
      </li>
    </ul>
    <div class="centered service-benefits__centered">
      <button class="btn btn--fill service-benefits__btn">
        Discuss a project
      </button>
    </div>
  </div>
</section>
