<section class="services-content section-offset">
  <img src="img/services-content-bg1.png" alt="" class="services-content__decorate-bottom"
    aria-hidden="true">
  <img src="img/services-content-bg2.png" alt="" class="services-content__decorate-top"
    aria-hidden="true">

  <div class="container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="list-reset services-content__list">
      <li class="services-content__item grid">
        <div class="services-content__img">
          <img src="img/services-1.jpg" alt="Service" class="services-content__img">
        </div>
        <div class="services-content__info">
          <h2 class="services-content__title">
            Construction
          </h2>
          <p class="services-content__text">
            Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate
            arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis
            habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut
            vestibulum.
          </p>
          <a href="#" class="services-content__btn btn btn--stroke-primary">Learn More</a>
        </div>
      </li>
      <li class="services-content__item services-content__item--reverse grid">
        <div class="services-content__img">
          <img src="img/services-2.jpg" alt="Service" class="services-content__img">
        </div>
        <div class="services-content__info">
          <h2 class="services-content__title">
            Project Development
          </h2>
          <p class="services-content__text">
            Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla
            lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae
            amet felis eget.
          </p>
          <a href="#" class="services-content__btn btn btn--stroke-primary">Learn More</a>
        </div>
      </li>
      <li class="services-content__item grid">
        <div class="services-content__img">
          <img src="img/services-3.jpg" alt="Service" class="services-content__img">
        </div>
        <div class="services-content__info">
          <h2 class="services-content__title">
            Interior Design
          </h2>
          <p class="services-content__text">
            Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan
            gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas lorem eros, mi
            cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla
            duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
          </p>
          <a href="#" class="services-content__btn btn btn--stroke-primary">Learn More</a>
        </div>
      </li>
      <li class="services-content__item services-content__item--reverse grid">
        <div class="services-content__img">
          <img src="img/services-4.jpg" alt="Service" class="services-content__img">
        </div>
        <div class="services-content__info">
          <h2 class="services-content__title">
            Repairs
          </h2>
          <p class="services-content__text">
            Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida
            pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices
            urna.
          </p>
          <a href="#" class="services-content__btn btn btn--stroke-primary">Learn More</a>
        </div>
      </li>
    </ul>
  </div>
</section>
