<section class="related-projects section-offset">
  <div class="container">
    <div class="related-projects__top">
      <h2 class="title related-projects__title">
        Similar projects
      </h2>
      <div class="slider-nav related-projects__slider-nav">
        <button class="btn-reset slider-nav__btn slider-btn related-projects__prev">
          <svg>
            <use xlink:href="img/sprite.svg#prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn related-projects__next">
          <svg>
            <use xlink:href="img/sprite.svg#next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper related-projects__items swiper--no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/recent-project-1.avif" type="image/avif">
              <source srcset="img/recent-project-1.webp" type="image/webp">
              <img loading="lazy" src="img/recent-project-1.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Kids Bedroom With Decorations
              </h3>
              <span class="portfolio-item__descr">
                Apartments & flats
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/recent-project-2.avif" type="image/avif">
              <source srcset="img/recent-project-2.webp" type="image/webp">
              <img loading="lazy" src="img/recent-project-2.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Modern Double Bedroom
              </h3>
              <span class="portfolio-item__descr">
                Apartments & flats
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/recent-project-3.avif" type="image/avif">
              <source srcset="img/recent-project-3.webp" type="image/webp">
              <img loading="lazy" src="img/recent-project-3.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Scandinavian Style Interior
              </h3>
              <span class="portfolio-item__descr">
                Private houses
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <picture>
              <source srcset="img/recent-project-2.avif" type="image/avif">
              <source srcset="img/recent-project-2.webp" type="image/webp">
              <img loading="lazy" src="img/recent-project-2.jpg" class="portfolio-item__image"
                width="" height="" alt="Portfolio cover">
            </picture>
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Modern Double Bedroom
              </h3>
              <span class="portfolio-item__descr">
                Apartments & flats
              </span>
              <div class="portfolio-item__btn btn btn--stroke-primary">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="related-projects__learn additional">
      <h4 class="related-projects__subtitle additional__subtitle">
        Explore all our works
      </h4>
      <a class="btn btn--fill additional__btn">
        View portfolio
      </a>
    </div>
  </div>
</section>
