<section class="vacancies">
  <h2 class="visually-hidden">Our avaliable vacancies</h2>
  <div class="container">
    <div class="vacancies__info grid">
      <div class="vacancies__left">
        <ul class="list-reset vacancies-list">
          <li class="vacancies-list__item">
            <article class="vacancies-item">
              <div class="vacancies-item__left">
                <div class="vacancies-item__meta">
                  <span class="vacancies-item__city">New York</span>
                  <span class="vacancies-item__time">Full Time</span>
                </div>
                <h3 class="vacancies-item__title">
                  Heavy Equipment Operator
                </h3>
              </div>
              <a href="#" class="vacancies-item__link  btn btn--stroke-primary">Apply Now</a>
            </article>
          </li>
          <li class="vacancies-list__item">
            <article class="vacancies-item">
              <div class="vacancies-item__left">
                <div class="vacancies-item__meta">
                  <span class="vacancies-item__city">San Francisco</span>
                  <span class="vacancies-item__time">Full Time</span>
                </div>
                <h3 class="vacancies-item__title">
                  Financial Compliance Analyst
                </h3>
              </div>
              <a href="#" class="vacancies-item__link  btn btn--stroke-primary">Apply Now</a>
            </article>
          </li>
          <li class="vacancies-list__item">
            <article class="vacancies-item">
              <div class="vacancies-item__left">
                <div class="vacancies-item__meta">
                  <span class="vacancies-item__city">New Jersey</span>
                  <span class="vacancies-item__time">Part Time</span>
                </div>
                <h3 class="vacancies-item__title">
                  Project Manager - Buildings
                </h3>
              </div>
              <a href="#" class="vacancies-item__link  btn btn--stroke-primary">Apply Now</a>
            </article>
          </li>
          <li class="vacancies-list__item">
            <article class="vacancies-item">
              <div class="vacancies-item__left">
                <div class="vacancies-item__meta">
                  <span class="vacancies-item__city">New York</span>
                  <span class="vacancies-item__time">Part Time</span>
                </div>
                <h3 class="vacancies-item__title">
                  Environment Specialist
                </h3>
              </div>
              <a href="#" class="vacancies-item__link  btn btn--stroke-primary">Apply Now</a>
            </article>
          </li>
          <li class="vacancies-list__item">
            <article class="vacancies-item">
              <div class="vacancies-item__left">
                <div class="vacancies-item__meta">
                  <span class="vacancies-item__city">New York</span>
                  <span class="vacancies-item__time">Full Time</span>
                </div>
                <h3 class="vacancies-item__title">
                  Accountant
                </h3>
              </div>
              <a href="#" class="vacancies-item__link  btn btn--stroke-primary">Apply Now</a>
            </article>
          </li>
        </ul>
      </div>
      <div class="vacancies__right">
        <div class="vacancies-looking">
          <h3 class="vacancies-looking__title">
            Didn’t find what you were looking for?
          </h3>
          <p class="vacancies-looking__descr">
            Send your CV or subscribe to our newsletter to receive information about new vacancies.
          </p>
          <div class="vacancies-looking__btns">
            <button class="btn-reset btn btn--stroke-primary vacancies-looking__btn--subscribe">
              subscribe
            </button>
            <button class="btn-reset btn btn--fill vacancies-looking__btn--cv">
              send cv
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
